---
---

/* Your overrides */

#sidebar > .profile-wrapper > .profile > .site-title-wrapper > a.site-title.d-block {
  display: block !important;
  width: 100% !important;
  text-align: center !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

#sidebar .profile,
#sidebar .profile-wrapper,
#sidebar .site-title-wrapper {
  text-align: center !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
}

/* Debug test */
* {
  outline: 1px solid red !important;
}
